html, body {
    margin: 0;
}

body {
    background-color: #cdbdab;
}

body {
    width: 10in;
    margin: auto;
}

hr {
    display: none;
}

h1,
.title,
.title2 {
    text-align: center;
}

.contents {
    padding-left: 5em;
}

.fig {
    margin: auto;
    margin-top: 3em;
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.fig + h4 {
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 3em;
    opacity: 0.75;
}

p,
table {
    margin: 0.75em 0.5in;
}

table {
    margin-bottom: 0;
}

table p {
    margin-left: 0;
}

table + br {
    display: none;
}

p:first-letter {
    margin-left: 2em;
}

h4 + p:first-line,
h3 + p:first-line {
    font-variant: small-caps;
}

h2,
h3 {
    display: flex;
    align-items: center;
}

h2::before,
h2::after,
h3::before,
h3::after {
    content: "";
    flex-grow: 1;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    height: 3px;
    margin: 0 1em;
}

h3::before,
h3::after {
    border-top: none;
    height: 0;
}

h2 + hr + h4 {
    text-align: center;
    margin-top: 0;
}

.title2 h2::before,
.title2 h2::after,
.title h2::before,
.title h2::after,
.title2 h3:before,
.title2 h3::after,
h3 + h3::before,
h3 + h3::after,
h1 + h3::before,
h1 + h3::after,
h1 + p + h3::before,
h1 + p + h3::after,
h1 + h3 + p + h3::before,
h1 + h3 + p + h3::after {
    display: none;
}

.title2 h2,
.title h2,
.title2 h3,
h3 + h3,
h1 + h3,
h1 + p + h3,
h1 + h3 + p + h3 {
    display: block;
    text-align: center;
}

.fig + h4 + p, .book + p {
    display: none;
}

body pre:first-child {
    border-bottom: 2px dashed black;
}

p + pre,
.book + pre {
    border-top: 2px dashed black;
}

body > h4 {
    margin: 1em 2em;
    text-align: center;
}

.right {
    text-align: right;
    padding-right: 1em;
}
